/* brand animation */
#brand{
  position: relative;
}
#brand .my img {
  border-radius: 50%;
  
}
#brand::before,
#brand::after{
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
}
#brand.my:hover{
  transform:translateX(-10%)
}
#brand:hover::before{
  opacity: 1;
}
  

#brand:hover::after{
  z-index: 1;
  content: "";
  background-color:black;
  animation: pulse 1000ms infinite;
  
}
@keyframes pulse{
  0%{
    transform: scale(.96);
    opacity: 0.75;
  }
  100%{
    transform: scale(1.35);
    opacity: 0;
  }
}
#brand::before{
  content: "Logo";
  color: bisque;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  display: grid;
  place-items: center;
  background-color: black;
  z-index: 10;
}
/*css reset*/
* {
  padding: 0;
  margin: 0;
}
#brand {
  position: absolute;
  top: 0;
  right: 0;
  
  
}
#brand .my img{
  height: 190px;
}

/*utility classes*/
.primary {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  
  
}
p {
  font-size: 1.3rem;
  text-align: center;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}
/*navigation bar styling*/
#navbar {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
}
/*img and list styling*/
#logo img {
  padding: 3px 7px;
  height: 6rem;
}
#navbar ul {
  display: flex;
}
#navbar ul li {
  font-size: 1.3rem;
  list-style: none;
}
#navbar ul li a {
  text-decoration: none;
  padding: 0px 25px;
  color: white;
  font-family: "Lunasima", sans-serif;
}
#navbar ul li a:hover {
  color: black;
  background-color: rgb(161, 121, 62);
}
#navbar ::before {
  content: "";
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.07;
  z-index: -1;
}
/*home styling*/
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 22rem;
  padding: 10 3;
  margin: 20px;
  width: 100%;
}
#home::before {
  content: "";
  background: url(./imges/img\ ind\ 2.jpg) no-repeat center center/cover;
  position: absolute;
  height: 50%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
  z-index: -1;
}
/*skill section styling*/
.skills .primary {
  position: relative;
  bottom: 2rem;
}
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

#items {
  display: grid;
  grid-template-columns: repeat(3, auto);
  /* grid-template-rows:repeat(4,500px); */
  align-items: center;
  justify-content: center;
}
#items .box {
  border: 2px solid brown;
  padding: 9px 8px;
  margin: 3px;
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgb(219, 228, 225);
  height: 25rem;
}
#items .box img {
  width: 150px;
  
}
/*domains styling*/
#Domains .primary {
  
  position: relative;
  bottom: 6rem;
}

#Domains {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7px 5px;
  margin-top: 100px;
}
#areas {
  display: flex;
  justify-content: center;
  align-items: center;
}
#areas .clients img {
  height: 100px;
}

#areas .clients {
  margin: 5px;
  padding: 8px;
}
#Domains ::before {
  content: "";
  background: url(imges/dataimg\ 7.jpg) no-repeat center center/cover;
  position: absolute;
  height: 340px;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
  z-index: -1;
}
/* contact styling */
#contact .primary {
  position: relative;
  bottom: 12rem;
}
#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:300px;
  padding: 5rem;
  position: relative;
  top: 16rem;
  border: 2px solid red;
  border-radius: 30px;
  background: url(imges/imag\ 10.jpg) no-repeat center center/cover ;
  
}
.form-group {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.form-group label {
   color: white;
}
.form-group input {
  width: 500px;
}

  




.msg {
  
  position: relative;
  left: -1rem;
}
#Meassage {
  border-radius: 8px;
  width: 500px;
}
/* footer styling */
#last {
  position: relative;
  top: 16rem;
  margin: 2rem;
  padding-bottom: 0.3rem;
  background-color: black;
  color: white;
}
